/* registro-medico.module.css */

.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  padding: 0;
  margin-top: 3rem;
}

/* Estilos para el encabezado */
.header {
  background-color: rgb(238, 238, 238); /* Color de fondo del encabezado */
  padding: 1rem; /* Espaciado del encabezado */
  text-align: center;
  position: fixed; /* Establece la posición como fija */
  top: 0; /* Pega el encabezado al borde superior */
  left: 0; /* Alinea el encabezado a la izquierda */
  right: 0; /* Alinea el encabezado a la derecha */
  z-index: 999; /* Ajusta el valor de z-index para superponer sobre el contenido */
  display: flex; /* Activa el diseño flexible para centrar el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100px; /* Fija una altura fija para el encabezado */
}

/* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Estilos para el logo */
.logo {
  width: 250px; /* Tamaño del logo */
  height: auto;
}

/* Estilos para el título de la página de inicio de sesión */
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilos para el subtítulo "Iniciar Sesión" */
.subtitle {
  font-size: 1.5rem; /* Tamaño del subtítulo */
  color: #333;
}

/* Estilos para el formulario de inicio de sesión */
.form {
  width: 600px; /* Ancho fijo en píxeles */
  /* max-width: 600px; Ancho máximo en píxeles */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 2rem;
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
}

/* Estilos para las etiquetas de formulario */
.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Estilos para los campos de entrada de formulario */
.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

.cta-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Estilos para el botón deshabilitado */
.disabled-button {
  background-color: #ccc; /* Color de fondo gris */
  cursor: not-allowed; /* Cursor no permitido (para indicar que está deshabilitado) */
}

/* Estilos para el pie de página de la página de inicio */
.page-footer {
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #777;
}

/* Estilos para el campo de selección (select) */
.form-group select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000; /* Cambia el color del texto a negro */
  background-color: #fff; /* Cambia el color de fondo a blanco */
  appearance: none; /* Elimina la apariencia nativa del select */
  outline: none; /* Elimina el resaltado del borde al enfocar */
  cursor: pointer;
}
