@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
}

title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Estilos generales para botones */
button {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

/* Estilos para el encabezado */
header {
    background-color: rgb(238, 238, 238); /* Color de fondo del encabezado */
    padding: 1rem; /* Espaciado del encabezado */
    text-align: center;
    position: fixed; /* Establece la posici칩n como fija */
    top: 0; /* Pega el encabezado al borde superior */
    left: 0; /* Alinea el encabezado a la izquierda */
    right: 0; /* Alinea el encabezado a la derecha */
    z-index: 999; /* Ajusta el valor de z-index para superponer sobre el contenido */
    display: flex; /* Activa el dise침o flexible para centrar el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100px; /* Fija una altura fija para el encabezado */
}

/* Estilos para el pie de p치gina de la p치gina de inicio */
footer {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #777;
    position: relative;
    bottom: 0;
}
