/* landing.module.css */

/* Estilos para la página de inicio */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fff;
}

/* Estilos para el encabezado de la página de inicio */
.landing-page-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilos para el contenido principal */
.main-content {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

/* Estilos para las secciones */
.section {
  text-align: center;
  margin-top: 2rem;
}

/* Estilos para los títulos de sección */
.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333; /* Cambia el color del título */
}

/* Estilos para los párrafos de sección */
.section-paragraph {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555; /* Cambia el color del párrafo */
}

/* Estilos para los botones de llamada a la acción (CTA) */
.cta-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.cta-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30rem;
  text-align: center;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Estilos para el pie de página de la página de inicio */
.landing-page-footer {
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #777;
}
