/* registro-medico.module.css */

.registro-medico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #fff;
  }
  
  .registro-medico h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-size: 1rem;
    color: #000;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#333;
  }
  
  .cta-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  