/* login.module.css */

/* Estilos para la página de inicio de sesión */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #fff;
  }
  
  /* Estilos para el título de la página de inicio de sesión */
  .login-page-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Estilos para el formulario de inicio de sesión */
  .login-form {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Estilos para los grupos de formulario */
  .form-group {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  /* Estilos para las etiquetas de formulario */
  .form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  /* Estilos para los campos de entrada de formulario */
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
  }
  
  /* Estilos para el enlace de registro */
  .register-link {
    margin-top: 1rem;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  